@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Press on This Link <a href="https://localhost:7266/Actors">Open The Actor Page</a>.</p>
</div>